<h1 class="center flow-text blue-text">Formulaires</h1>

<div class="container border-form">	
	<div>
		<table class="responsive-table centered">
			<thead>
				<tr>
					<th>Nom de l'agent</th>
					<th>Type de défaut</th>
					<th>Information complémentaire</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let form of forms$">
					<td> {{ form.operatorName}}</td>
					<td> {{ form.defaultType}}</td>
					<td style="word-wrap: break-word; max-width: 100px;"> {{ form.complementaryInformation}}</td>
					<td>
						<a routerLink="/edit/{{form.ref}}" class="waves-effect waves-light btn">Editer</a>
						<a (click)="toggleRemove(form.ref)" class="waves-effect waves-light btn">Supprimer</a>
					</td>
				</tr>
			<tbody>
		</table>
	</div>
	<div style="margin: 1%;">
		<a routerLink="/edit" class="waves-effect waves-light btn blue">Ajouter</a>
	</div>
</div>
