<h1 *ngIf="form.ref; else elseBlock" class="flow-text center blue-text "> Modification du formulaire</h1>
<ng-template #elseBlock> <h1 class="flow-text center blue-text" >Creation d'un formulaire </h1> </ng-template>

<div class="container border-form">
	<form [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="onSubmit()" >
		<div class="form-group">
			<label for="operatorName">
				Nom de l'opérateur : 
			</label>
			<input id="operatorName" formControlName="operatorName" class="validate"/>

			<div *ngIf="operatorName.invalid && (operatorName.dirty || operatorName.touched)"
			              class="alert alert-danger">
				<div *ngIf="operatorName.errors.required" class="red-text">
					Name is required.
				</div>
				<div *ngIf="operatorName.errors.pattern" class="red-text">
					Les chifres sont interdits
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="defaultType">
				Type de défaut :
			</label>
			<select id="defaultType" class="select-dropdown dropdown-trigger browser-default"
				style="background-color: #f2f2f2;"
				formControlName="defaultType" required  formControlName="defaultType">
				<option *ngFor="let default of defaults" [value]="default[1]">{{default[0]}}</option>
			</select>
		</div>
		<div class="form-group">
			<label for="complementaryInformation">
				Information Complémentaire : 
			</label>
			<textarea  id="complementaryInformation" formControlName="complementaryInformation"></textarea>
		</div>
		<div class="row">
			<div class="col s1 push-s0">
				<button class="waves-effect waves-light btn blue" type="submit"  [disabled]="profileForm.invalid" value="submit">Valider</button>
			</div>
			<div class="col col s3 push-s1">
				<a class="waves-effect waves-light btn red" routerLink="/forms" >Annuler</a>
			</div>
		</div>
	</form>
</div>
